.modal-time-cell {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  border-radius: 0.4rem;
}

.cell-name {
  text-transform: uppercase;
}

.cell-box {
  display: flex;
  gap: 5px;
}

.cell-value {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
